<!--<p>-->
  <!--orders-list works!-->
<!--</p>-->

<!--<ul *ngFor="let item of albums">-->
  <!--<li>{{item|json}}</li>-->
<!--</ul>-->



<!--<div>-->
  <!--<mat-form-field>-->
    <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">-->
  <!--</mat-form-field>-->
<!--</div>-->


<mat-table  #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- artwork Column -->
  <ng-container matColumnDef="artwork">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Artwork </mat-header-cell>
    <mat-cell  *matCellDef="let album"><img [src]="album.image[0]['#text']"> </mat-cell>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell  *matCellDef="let album"> {{album.name}} </mat-cell>
  </ng-container>

   username Column
  <ng-container matColumnDef="playcount">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Playcount </mat-header-cell>
    <mat-cell *matCellDef="let album"> {{album.playcount}} </mat-cell>
  </ng-container>

   website Column
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
    <mat-cell *matCellDef="let album"><img [src]="albumArtwork" alt="">  </mat-cell>
  </ng-container>
  <!--"'data:image/jpg;base64,'+userPicture" alt="picture"-->

  <!--phone Column-->
  <!--<ng-container matColumnDef="phone">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let customer"> {{customer.phone}} </mat-cell>-->
  <!--</ng-container>-->
  <!--company Column-->
  <!--<ng-container matColumnDef="company">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let customer"> {{customer.company.name}} </mat-cell>-->
  <!--</ng-container>-->

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">

</mat-paginator>


