
mat-table, mat-paginator {
  background-color: #002538;
  color: #B8C1C6;
  //width: 80vw;
  margin-left: 3rem;
}
.row{
  width: 100%;
}

.mat-table {
  //margin-top: 1rem;
}
mat-paginator{
  //margin-left: 474px;
}

mat-cell, mat-header-cell, mat-paginator {
  color: #B8C1C6;
  &:hover {
    cursor: pointer;
  }

}

mat-header-row {
  border-bottom-color: #757e83;
}

mat-row {
  border-bottom-color: #757e83;
  border-top-color: #757e83;
}

.mat-paginator::ng-deep {
  display: flex;
  justify-content: space-around;
  //position: fixed;
  //bottom:1.7rem;

  .mat-select-value, .mat-select-arrow {
    color: #B8C1C6;
  }
  .mat-icon-button[disabled] {
    color: #545e63;
  }

}

.btn-primary {
  background-color: #002538;
  border: none;
  box-shadow: none;
  margin-left: 1rem;

}

.btn-primary:active {
  box-shadow: none !important;
}

mat-spinner {
  margin: 15% 47% auto;

}

img {
  width: 30px;
}

bar-rating ::ng-deep{
  .br-unit {
    width: 11px
  }
}
.sidenav{
  background-color: #002538;
  min-width: 5rem;
  height: 84.1vh;
  margin-left:-50px;
   border-right: none;
  position: relative;
  transition: margin-left .5s ease-out ;
  &:hover{

    margin-left: -40px;
  }
  //&:after{
  //  content: 'menu';
  //  width: 10px;
  //  height: 10px;
  //  position: absolute;
  //  top:-25px;
  //  font-size: 25px;
  //  right:-10px;
  //
  //}

  .nav-link{
    color: #758792;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    text-align: center;
    &.nav-link.selected{
      color:#FAFAFA;
    }
    &.nav-link.favorite{
      font-size:18px;
      &:hover{
        color: #fff;
      }
    }
  }



  //border: 1px solid #757e83
}
.spotify-album,.spotify-Song{
  color: #b483ff;
  font-size: 24px;

}













