<!--The content below is only a placeholder and can be replaced.-->
<!--<button mat-raised-button color="primary" routerLink="/customers">Customers</button>-->
<!--<button mat-raised-button color="warn" routerLink="/orders">Orders</button>-->

<header class="header-6">
  <!--<div class="branding">-->
    <!--...-->
  <!--</div>-->
  <div class="header-nav">
    <a routerLink="/customers" class="nav-link nav-text">Customers</a>
    <a routerLink="/orders" class="nav-link nav-text">Search Artist</a>
    <a routerLink="/signup" class="nav-link nav-text">Sign Up</a>
    <a routerLink="/login" class="nav-link nav-text">Login</a>
  </div>
  <div class="header-actions">
    <!--<a href="javascript://" class="nav-link nav-icon">-->
      <!--<clr-icon shape="cog"></clr-icon>-->
    <!--</a>-->
  </div>
</header>


<router-outlet></router-outlet>
