<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Info
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <!--<img src="{{albumsInfo.album?.image[1]['#text']}}" class="card-media-image">-->
          <div class="card-media-description col-md-3 ">
            <!--<span class="card-media-title ">-->
            <!--Tracks:-->
            <!--</span>-->


          </div>
          <div class="card-media-description">
              <span class="card-media-text mt-1">
                 <span class="track-number">.
                 </span>
              </span>
          </div>
        </div>
        <div class="card-text">

        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>





