

  <nav class="sidenav ">
    <section class="sidenav-content">
      <section class="nav-group" >

        <a class="nav-link favorite"  (click)="onFavoriteAlbum()" >
          <span class="spotify-album" matTooltip="Favorite Album"></span>
        </a>
        <a class="nav-link favorite"  (click)="onFavoriteSongs()" >
          <span class="spotify-Song" matTooltip="Favorite Song"></span>
        </a>
      </section>
      <section class="nav-group">
      </section>
      <mat-divider></mat-divider>
    </section>
    <div class="spacer"></div>

  </nav>
