<mat-expansion-panel>
  <mat-expansion-panel-header>
    <p>
      <button class="btn btn-primary btn-sm btn-icon"><i class="fa fa-play"></i></button>
      <button class="btn btn-secondary btn-sm btn-icon"><i class="fa fa-pause"></i></button>
    </p>
  </mat-expansion-panel-header>
  <!--<mat-panel-description>-->
    <!--<button class="btn btn-primary btn-sm btn-icon"><i class="fa fa-play"></i></button>-->
    <!--<button class="btn btn-secondary btn-sm btn-icon"><i class="fa fa-pause"></i></button>-->
  <!--</mat-panel-description>-->

</mat-expansion-panel>

<!--<audio #player style="display: none" (ended)="playerEnded()" ></audio>-->
